In [1]:
import json
import glob
import numpy as np
import pandas as pd
import os
from collections import defaultdict

In [2]:
from stats import get_dataframe

In [3]:
df = get_dataframe()

In [ ]:
from scipy.special import betaln
def confidence_a_gr_b(pos_a, neg_a, pos_b, neg_b):
    alpha_a = pos_a + 1
    beta_a = neg_a + 1
    alpha_b = pos_b + 1
    beta_b = neg_b + 1
    
    total = 0.0
    for i in range(alpha_b):
        total += np.exp(
            betaln(alpha_a + i, beta_b + beta_a)
            - np.log(beta_b + i)
            - betaln(1 + i, beta_b)
            - betaln(alpha_a, beta_a)
        )
    return total

In [18]:
df.groupby(['num_bots', 'is_resistance', 'is_bot', 'win']).count()[['game']]

                                     game
num_bots is_resistance is_bot win
1        False         False  False    44
                              True     57
                       True   False    10
                              True     23
         True          False  False   103
                              True     64
                       True   False    17
                              True     17
2        False         False  False   116
                              True    139
                       True   False    76
                              True     87
         True          False  False   200
                              True    172
                       True   False   139
                              True    116
3        False         False  False   119
                              True    201
                       True   False   155
                              True    323
         True          False  False   323
                              True    155
                       True   False   463
                              True    256
4        False         False  False   225
                              True    290
                       True   False   617
                              True   1380
         True          False  False   545
                              True    196
                       True   False  1960
                              True   1067

In [11]:
df[df.role == 'Merlin'].groupby(['num_bots', 'is_bot']).mean()[['win']]

                      win
num_bots is_bot
1        False   0.392857
         True    0.500000
2        False   0.466102
         True    0.454545
3        False   0.282209
         True    0.382609
4        False   0.292000
         True    0.341390

In [12]:
df[df.role == 'Assassin'].groupby(['num_bots', 'is_bot']).mean()[['win']]

                      win
num_bots is_bot
1        False   0.577778
         True    0.619048
2        False   0.512000
         True    0.590361
3        False   0.625806
         True    0.680851
4        False   0.550201
         True    0.697183

In [20]:
np.log(2.717)

0.9995283304442107